parameters:
    source_directory: "/Users/John Doe/Downloads/TVShows"
    target_directory: "/Users/John Doe/Movies/TVShows"
    ignore_if_nuked: true
    delete_nuked: true
    search_subtitles: true
    prefer_move_over_copy: false
